@use "../../../styles/variables" as v;

.hamburger {
  display: block;

  @media (min-width: 1200px) {
    display: none;
  }

  &.closedBurger {
    .bar {
      &.barTopClosed {
        animation: burgerBarTop 0.5s 1 reverse linear;
      }

      &.barMiddleClosed {
        animation: burgerBarMiddle 0.5s 1 reverse linear;
      }

      &.barBottomClosed {
        animation: burgerBarBottom 0.5s 1 reverse linear;
      }
    }
  }

  &.openBurger {
    .bar {
      &.barTop {
        animation: burgerBarTop 0.5s 1 forwards linear;
      }

      &.barMiddle {
        animation: burgerBarMiddle 0.5s 1 forwards linear;
      }

      &.barBottom {
        animation: burgerBarBottom 0.5s 1 forwards linear;
      }
    }
  }

  .bar {
    display: block;
    margin: 4px 7px;
    width: 24px;
    height: 7px;
    background: v.$main-white-color;
    border-radius: 3px;

    &.dark {
      background: v.$main-dark-color;
    }

    &.light {
      background: v.$main-white-color;
    }
  }
}

@keyframes burgerBarTop {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(10.5px) rotate(45deg);
  }
}

@keyframes burgerBarMiddle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes burgerBarBottom {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-10.7px) rotate(-45deg);
  }
}
